# data files that won't change and can be ignored

.Rhistory
tags_and_marks.csv
"lake class predictions.csv"
creelTitrationSummary_cache/
creelTitrationSummary_files/
exploitationRateSummary_cache/
exploitationRateSummary_files/
exploitationRateSummary_MarchFMPTUpdate_files/
exploitationRateSummary_MarchFMPTUpdate_cache/
effortSummary_files/
effortSummary_cache/
*.RData
catchSummary_files/
catchSummary_cache/
*.pdf
harvestSummary_files/
harvestSummary_cache/
harvestRateSummary_files/
harvestRateSummary_cache/
*.log
